*{
	margin: 5px;
	padding: 0;
}


/*.carre {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 7px;
	touch-action: none;
}*/

.textes{
	position: absolute;
	margin: 60px; 
}

.textes ul{
	list-style: none;
}

.textes ul li{
	font-family: 'Minipax-Regular';
	font-weight: 500;
}

.textes-explication{
	position: absolute;
	margin-left: 280px;
	margin-top: 60px; 
}

.textes-explication ul{
	list-style: none;
}

.textes-explication ul li{
	font-family: 'Minipax-Regular';
	font-weight: 500;
}

.hover-title {
	display: inline;
	cursor: e-resize;
}

.hover-image {
	display: none;
}

body:not(.mobile) .hover-title:hover + .hover-image {
	display: flex;
	pointer-events: none;
}

.hover-image {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* Change width and height to scale images */
	width: 95vw;
	height: 95vh;
}

.hover-image img {
	max-width: 100% !important;
	max-height: 100% !important;
	width: auto !important;
	height: auto !important;
	margin-bottom: 0;
}

.carre{
	float: left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 60px;
    cursor: grab;
}

.carre:active{
    cursor: grabbing;
}

#carre-noir{
	width: 200px;
	height: 200px;
	background: #090C03;
	z-index: 0;
	position: absolute;
}

#carre-rouge{
	width: 200px;
	height: 200px;
	background: #BF0713;
	position: absolute;
	z-index: 0;
}

#carre-vert-fonce{
	width: 200px;
	height: 200px;
	background: #B9C4AB;
	position: absolute;
	z-index: 0;
}

#carre-vert{
	width: 200px;
	height: 200px;
	background: #DCE1CF;
	position: absolute;
	z-index: 0;
}

#carre-vert-clair{
	width: 200px;
	height: 200px;
	background: #E4EDD7;
	position: absolute;
	z-index: 0;
}

#triangle-noir{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #090C03;
	position: absolute;
}

#triangle-rouge{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #BF0713;
	position: absolute;
}

#triangle-vert-fonce{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #B9C4AB;
	position: absolute;
}

#triangle-vert{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #DCE1CF;
	position: absolute;
}

#triangle-vert-clair{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #E4EDD7;
	position: absolute;
}

.images-visu img{
	width: 220%;
	z-index: 2;
}

.images img{
	width: 130%;
	z-index: 2;
}

.images{
	z-index: 2;
}